@{
    ViewBag.Title = "About";
}
<h2>About Global Eats.</h2>
<h3>Never established, still providing quality</h3>

<p>We&acute;ve worked diligently to collect information on restaurants around the world. We&acute;re so good, we even found twenty restaurants that don't exist!!! Through hard work, we&acute;re delivering these restaurants to you. Most of these restaurants even have reviews! If you can read lorem ipsum, you can read our reviews! Have fun!</p>
