@{
    ViewBag.Title = "Contact";
}
<h2>Contact Global Eats!</h2>
<h3>Questions, comments, complaints? Sam wants to hear them all!</h3>

<address>
    1 Solar Way<br />
    Center of the Sun, Get a Rocket<br />
    <abbr title="Phone">P:</abbr>
    111.555.1234
</address>

<address>
    <strong>Support:</strong>   Sam@GlobalEats.Com<br />
</address>